@model PaymentModel;
@{
    ViewData["Title"] = "Checkout";
}
<link href="~/css/checkout.css" rel="stylesheet" />

<div class="container" style="padding-top:15px">
    <form asp-action="ConfirmPayment" method="post" asp-controller="Home">
        <div class="row"  style="margin-top:15px">
            <div class="col-md-8 col-sm-12 solcheck">
                <h4 style="margin-top: 20px" class="text-center">Customer Information</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label class="formcheck">Name</label>
                        <input class="form-control" type="text" placeholder="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="formcheck">Surname</label>
                        <input class="form-control" type="text" placeholder="Surname" asp-for="Surname">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12">
                        <label class="formcheck">E-mail</label>
                        <input class="form-control" type="email" placeholder="E-mail" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label class="formcheck">Phone</label>
                        <input class="form-control" type="text" maxlength="11" placeholder="Phone" asp-for="Phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <div class="col-md-12">
                        <label class="formcheck">Your adress</label>
                        <textarea class="form-control" type="text" cols="5" style="resize: none;" placeholder="Please valid adress" asp-for="Adress"></textarea>
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card rounded-0 border-0 card2">
                    <div class="form-card">
                        <h4 id="heading" class="text-center">Payment Informations</h4>
                        <div class="radio-group text-center">
                            <div class='radio selected' data-value="credit"><img src="https://4.bp.blogspot.com/-g-2d3NRNXlU/VlPxBHbkhlI/AAAAAAAAomM/Am_kcVvyLKY/s1600/MasterCard_Logo.svg.png" width="120" height="60"></div>
                            <div class='radio' data-value="paypal"><img src="https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0033/7299/Como_retirar_dinero_de_PayPal_en_Colombia.png?1555502328" width="120" height="60"></div> <br>
                        </div>
                        <h5 id="credit" class="mb-3">Credit card Informations</h5>
                        <input type="text" placeholder="Card Name" asp-for="CardName">
                        <span asp-validation-for="CardName" class="text-danger"></span>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" id="creditNumber" placeholder="0000 0000 0000 0000" maxlength="16" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" asp-for="CardNumber">
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-9 col-md-7">
                                <input type="text" id="exp" placeholder="MM/YY" minlength="5" maxlength="5" asp-for="CardExpirationDate">
                                <span asp-validation-for="CardExpirationDate" class="text-danger"></span>
                            </div>
                            <div class="col-3 col-md-5">
                                <input type="password" placeholder="&#9679;&#9679;&#9679;" class="placeicon" minlength="3" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" asp-for="CardCVV">
                                <span asp-validation-for="CardCVV" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <h4 id="totalPRC" class="text-center"> <span class="text-dark"> + KDV</span></h4>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-8"> <input type="submit" value="PURCHASE CARD" class="btn btn-success"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        $("#totalPRC").text("Total: ₺" + sessionStorage.totalPrice);
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
