@model IEnumerable<ECommerce.Models.Product>
@{
    ViewData["Title"] = "ShoppingCard";
}
<script>
    function DeleteProduct(productId) {

    var sData = {
            productId: productId
        };
        $.ajax({

            url: "/Home/DeleteToCard",
            data: sData,
            type: "GET",
            dataType: "html",
            cache: false,
            success: function (result) {
                $("#tblBasketList").html(result);
            },
            error: function (jqXHR, textStatus) {
                alert("Hata meydana geldi.");
            }
        });
    }
    function PriceUpdate(value) {

        var price = $("#labelPrc2").text().split(',').join('.');
        
        var total =  price  * value;
        

        $("#labelSubTotal").text(total.toFixed(2));
    }
</script>
<div class="container" id="tblBasketList">
    @await Html.PartialAsync("_BasketPartial", Model)
</div>



